<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md fixed-top fondomenu">
      <div class="row col-lg-12">
        <div class="col-lg-1"><img src="../../images/logo.JPG" alt="Logo"></div>
        <div class="col-lg-8"></div>
        <div class="col-lg-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="home" routerLinkActive="active" >Inicio<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/nosotros','nos-1']" routerLinkActive="active">Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Ingresar</a>
                  </li>
                </ul>
              </div>
          </div>
      </div>
    </nav>
  </header>