.imagenbanner
{
    background-image: url("../../../assets/images/banner_inicial.jpg");
    height: 350px;
    padding-top: 150px;
}
.logo
{
    margin-top: 25px;
    -webkit-box-shadow: 1px 1px 2px 1px #2E2E2E;
    box-shadow: 1px 1px 2px 1px #2E2E2E;
    height: 100px;
}
.nombre
{
    text-align: center;
    text-shadow: 1px 1px 1px grey;
    color: goldenrod;
}
  
.linea
{
    height: 5px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bfd255+0,8eb92a+50,72aa00+51,9ecb2d+100;Green+Gloss */
background: rgb(191,210,85); /* Old browsers */
background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}
.opciones .card-header
{
    color: antiquewhite;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    background: rgb(191,210,85); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}
.operaciones
{
padding-top:40px;
}
.foperaciones
{
    background-image: url("../../../assets/images/fondo_operaciones.jpg");
}
.servicios
{
    background-image: url("../../../assets/images/fondo_servicios2.jpg");
}
.aliados
{
    background-image: url("../../../assets/images/fondoservicios3.jpg");
}
.aliados div 
{
    vertical-align: middle;
    text-align:center;
}
.tservicios
{
    text-align: center;
    vertical-align:center;
    font-size: 1.5em;
    font-weight : bold;
    /*text-shadow: 1px 1px 1px #C1FF17;*/
    text-rendering: optimizeLegibility;
    color: #131313;
    letter-spacing: .15em;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.tservicios :hover
{
    text-decoration:none;
}
.contenido
{
    text-align:center;
    font-size: 1.1em;
    font-weight : bold;
}
.contenido a
{
    font-size: 0.7em;
}
.contenido a:hover
{
    color:#bfd255;
    text-decoration: none;
}
